/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --primary-color: #051937;
    --secondary-color:#374366;
    --trinary-color:#D4A418
}

h1,h2,h3,h4,h5,h6,p{
    color:white
}